<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>ApnaSadhan - Car Rental Services | Best taxi service in Indore</title> 
 <meta name="description" content="Welcome to ApnaSadhan, your premier destination for top-quality car rentals and taxi services tailored to meet your every need. Book your dream car and embark on the journey of a lifetime!">

  <link rel="shortcut icon" href="../../public/images/favicon_io/android-chrome-192x192.png" type="image/x-icon">
<style>
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    text-align: center;
  }

  h1 {
    color: #333;
    font-size: 48px;
    margin-bottom: 20px;
  }

  p {
    color: #666;
    font-size: 18px;
    margin-bottom: 30px;
  }

  .home-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .home-btn:hover {
    background-color: #0056b3;
  }
</style>
</head>
<body>

<div class="container">
  <h1>404</h1>
  <p>Sorry, the page you are looking for could not be found.</p>
  <button class="home-btn" onclick="window.location.href = '/';">Go to Home Page</button>
</div>

</body>
</html>
