<!DOCTYPE html>
<html lang="en">
<head>
  {{>head}} 
  <link rel="stylesheet" href="rate.css">
</head>
<body> 
  <div class="quikBooking">
   <a style="text-decoration: none; color:white" href="/quikbooking"> Quik Book</a>
  </div>
 {{>header2}}
  {{>pdata2}}  
  <div class="rateboxs">
   <div class="safetyimg">THE RIDE THAT'S ALWAYS ON TIME</div> 
 
  {{>onewaydesti 
  carName="Maruti WagonR" 
  model="Maruti_WagonR" 
  cartype="Hatchback" 
  logoName="swiftlogo1" 
  detailbox="detailbox1()" 
  ralldetails="ralldetails1" 
  packagetype="Outstation-Oneway" 
  charged=charged
  ratekm=ratekm
  base_fare=base_fare
  min_prday=min_prday
  driver_allow=driver_allow
  run_dist=run_dist 
  charg_dist=charg_dist 
  gst=gst
  total_fare=total_fare 
  tprice=tprice 
  extra_km_beyond=extra_km_beyond    }}   
  
  {{>onewaydesti carName="Maruti Alto" model="Maruti_Alto" 
  cartype="Hatchback" 
  logoName="swiftlogo1_1" 
  detailbox="detailbox1_1()" 
  ralldetails="ralldetails1_1" 
  packagetype="Outstation-Oneway" 
   charged=charged
  ratekm=ratekm
  base_fare=base_fare
  min_prday=min_prday
  driver_allow=driver_allow
  run_dist=run_dist 
  charg_dist=charg_dist 
  gst=gst
  total_fare=total_fare 
  tprice=tprice 
  extra_km_beyond=extra_km_beyond    }} 

{{>onewaydesti carName="Maruti Swift Dzire" model="Swift_Dzire"
  cartype="Sedan" 
  logoName="swiftlogo2" 
  detailbox="detailbox2()" 
  ralldetails="ralldetails2" 
  packagetype="Outstation-Oneway" 
   charged=charged2
  ratekm=ratekm2
  base_fare=base_fare2
  min_prday=min_prday2
  driver_allow=driver_allow2
  run_dist=run_dist2 
  charg_dist=charg_dist2 
  gst=gst2
  total_fare=total_fare2 
  tprice=tprice2 
  extra_km_beyond=extra_km_beyond2    }} 

{{>onewaydesti carName="Maruti Ertiga" model="Maruti_Ertiga" 
  cartype="SUV" 
  logoName="swiftlogo3" 
  detailbox="detailbox3()" 
  ralldetails="ralldetails3" 
  packagetype="Outstation-Oneway" 
   charged=charged3
  ratekm=ratekm3
  base_fare=base_fare3
  min_prday=min_prday3
  driver_allow=driver_allow3
  run_dist=run_dist3 
  charg_dist=charg_dist3 
  gst=gst3
  total_fare=total_fare3 
  tprice=tprice3 
  extra_km_beyond=extra_km_beyond3    }} 
  
  {{>onewaydesti carName="Toyota Innova" model="Toyota_Innova"
  cartype="SUV" 
  logoName="swiftlogo4" 
  detailbox="detailbox4()" 
  ralldetails="ralldetails4" 
  packagetype="Outstation-Oneway" 
   charged=charged4
  ratekm=ratekm4
  base_fare=base_fare4
  min_prday=min_prday4
  driver_allow=driver_allow4
  run_dist=run_dist4 
  charg_dist=charg_dist4 
  gst=gst4
  total_fare=total_fare4 
  tprice=tprice4 
  extra_km_beyond=extra_km_beyond4    }} 

   {{>onewaydesti carName="Honda City" model="Honda_City"
  cartype="SUV Executive" 
  logoName="swiftlogo5" 
  detailbox="detailbox5()" 
  ralldetails="ralldetails5" 
  packagetype="Outstation-Oneway" 
   charged=charged5
  ratekm=ratekm5
  base_fare=base_fare5
  min_prday=min_prday5
  driver_allow=driver_allow5
  run_dist=run_dist5 
  charg_dist=charg_dist5 
  gst=gst5
  total_fare=total_fare5 
  tprice=tprice5 
  extra_km_beyond=extra_km_beyond5    }}

  </div>  
  {{>footer}}
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script> 
<script src="script.js"></script>
</body>
</html>