<!DOCTYPE html>
<html lang="en">
<head>
  {{>head}} 
  <link rel="stylesheet" href="rate.css">
</head>
<body> 
 <div class="quikBooking">
   <a style="text-decoration: none; color:white" href="/quikbooking"> Quik Book</a>
  </div>
 {{>header1}}
  {{>pdata1}}  
  <div class="rateboxs">
   <div class="safetyimg">THE RIDE THAT'S ALWAYS ON TIME</div> 

  {{>package8hrs carName="Maruti WagonR" model="WagonR" cartype = "Hatchback" packagetype="8Hrs/80Kms" charged="80 Kms | 8 Hrs" tprice="1596" logoName = "swiftlogo1" detailbox="detailbox1()" ralldetails="ralldetails1" base_fare="Rs.1520" gst="Rs.76" total_fare="Rs.1596" extra_km="9/km"  extra_hrs="100/hrs"}}   

    {{>package8hrs carName="Maruti Alto" model="Alto" cartype = "Hatchback" packagetype="8Hrs/80Kms" charged="80 Kms | 8 Hrs" tprice="1596" logoName = "swiftlogo1_1" detailbox="detailbox1_1()" ralldetails="ralldetails1_1" base_fare="Rs.1520" gst="Rs.76" total_fare="Rs.1596" extra_km="9/km"  extra_hrs="100/hrs"}} 

   {{>package8hrs carName="Maruti Suzuki Dzire" model="Dzire" cartype = "Sedan" packagetype="8Hrs/80Kms" charged="80 Kms | 8 Hrs" tprice="2016" logoName="swiftlogo2" detailbox="detailbox2()" ralldetails="ralldetails2" base_fare="Rs.1920" gst="Rs.96" total_fare="Rs.2016" extra_km="12/km"  extra_hrs="120/hrs"}}  
    
    {{>package8hrs carName="Maruti Ertiga" model="Ertiga" cartype = "SUV" packagetype="8Hrs/80Kms" charged="80 Kms | 8 Hrs" tprice="2604" logoName="swiftlogo3" detailbox="detailbox3()" ralldetails="ralldetails3" base_fare="Rs.2480" gst="Rs.124" total_fare="Rs.2604" extra_km="14/km"  extra_hrs="170/hrs"}}  

    {{>package8hrs carName="Toyota Innova" model="Innova" cartype = "SUV" packagetype="8Hrs/80Kms" charged="80 Kms | 8 Hrs" tprice="2772" logoName="swiftlogo4" detailbox="detailbox4()" ralldetails="ralldetails4" base_fare="Rs.2640" gst="Rs.132" total_fare="Rs.2772" extra_km="15/km"  extra_hrs="180/hrs"}}  
    
    {{>package8hrs carName="Honda City" model="City" cartype = "SUV Executive" packagetype="8Hrs/80Kms" charged="80 Kms | 8 Hrs" tprice="4116" logoName="swiftlogo5" detailbox="detailbox5()" ralldetails="ralldetails5" base_fare="Rs.3920" gst="Rs.196" total_fare="Rs.4116" extra_km="24/km"  extra_hrs="250/hrs"}}

  </div>  
  {{>footer}}
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script> 
<script src="script.js"></script>
</body>
</html>