<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="ApnaSadhan offers reliable and affordable cab services in Indore. Book your cab now for local trips, outstation journeys, airport transfers, and more. Available 24/7 with the best rates and top-rated vehicles.">
  <meta name="keywords" content="cab service near me, cab service near me now, cab service near me open now, cab service near me prices, cab service near me phone number, cab service near me cheap, cab service near me that take cash, cab service near me contact number, cab service near me brooklyn, cab service near me bronx, cab service in Indore, cab service in Indore to Ujjain, cab service in Indore city, cab service in Indore for outstation, cab service in Indore for full day, taxi service in Indore, taxi service in Indore outstation, taxi in Indore airport, taxi in Indore to Omkareshwar, taxi in Indore railway station, taxi rates in Indore, bike taxi in Indore, book taxi in Indore, taxi hire in Indore">
  <meta name="author" content="ApnaSadhan">
  <title>ApnaSadhan - Your Premier Cab and Car Rental Service</title>

   <link rel="shortcut icon" href="../../public/images/favicon_io/android-chrome-192x192.png" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Dancing+Script:wght@400..700&family=Pacifico&family=Salsa&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="./apnasadhanlogo.jpg" type="image/x-icon"> 
  <style>
    *{
  margin: 0px;
  padding: 0px; 
  box-sizing: border-box; 
} 
.mylogo{
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal; 
  font-size: 7vh; 
  height: 10vh; 
  position: relative;
  width: 400px; 
  text-align: center; 
  color: #14213D; 
 display: flex;
 justify-content: center;
 align-items: center;  
 margin-top: 20px;
 /* background-color: aqua; */
 /* background-color: aqua; */ 
 /* border-bottom: 1px solid grey;  */
 /* border-right: 1px solid grey; */
}
#lapna{
  font-family: "Pacifico", cursive; 
  color: #14213D;   
} 
#lsadhan{
  font-family: "Pacifico", cursive; 
  color: #90170c;
}
.cari1{
  margin-right: -8px; 
  color: #90170c;
} 
.cari2{
  margin-top: 10px; 
}
#sadhan{
  color:#90170c; 
  font-family: "Pacifico", cursive;
} 
.mainrpcard{
  width: 100%; 
  height: 650px;
  background-color: rgb(255, 255, 255); 
  display: flex;
  justify-content: space-around;
  align-items: center; 
} 
.rpcard{
  width: 60%;
  height: 550px;
  background-color: rgb(255, 255, 255); 
  border-radius: 10px; 
  box-shadow: 2px 2px 15px #14213D; 
  position: relative; 

}  
.rpcard form{
  display: flex; 
  justify-content: center;
  flex-wrap: wrap; 
  /* background-color: #90170c; */
}
.loginicon{
  /* background-color: aquamarine;  */
  height: 50px; 
  font-size: 30px; 
  font-weight: 800; 
  font-family: 'salsa'; 
  color: #14213D; 
  padding: 10px; 
  text-align: center; 
box-shadow: 1px 1px 10px #90170c; 
border-radius: 10px 10px 0px 0px;
}  
#fullname , #phone , #email , #pickuploc , #pickupdate , #car{ 
  font-size: 18px; 
  width: 100%;
  height: 30px; 
  border: none; 
  box-shadow: 1px 1.5px 3px black; 
  /* border-radius: 5px; */
} 
#packagetype{
  font-size: 18px; 
  width: 47%;
  height: 30px; 
  border: none; 
  box-shadow: 1px 1.5px 3px black; 
}
.fullname ,.email , .phone, .pickuploc , .pickupdate , .car {
  width: 40%;
  height: 110px; 
  display: flex; 
  font-size: 25px; 
  flex-direction: column; 
  padding: 20px 20px; 
  justify-content: space-between; 
  font-family: "salsa"; 
  color: #14213D;
} 
.packagetype{
  width: 80%;
  height: 110px; 
  display: flex; 
  font-size: 25px; 
  flex-direction: column; 
  padding: 20px 20px; 
  justify-content: space-between; 
  font-family: "salsa"; 
  color: #14213D;
}
.Book{
  padding: 5px 20px;
  font-size: 18px; 
  color: white;
  background-image: linear-gradient(45deg ,rgb(41, 49, 81)  ,rgb(218, 75, 75), rgb(41, 49, 81) ,rgb(218, 75, 75)); 
  border-radius: 5px;
  margin-top: 10px; 
  position: absolute; 
  bottom: 80px; 
  right: 220px;
} 
@media(max-width:700px){
  .mainrpcard{
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    height: auto; 
    margin-bottom: 20px;
  } 
  .mylogo{
    font-size: 4vh;
    width: auto;
  } 
  .rpcard{ 
    margin-top: 10px;
    width: 320px; 
    height: 900px; 
  } 
  .rpcard form{
    width: 100%; 
    height: 90%; 
  } 
  #fullname , #phone , #email , #pickuploc , #pickupdate , #car {
    font-size: 15px; 
  } 
  #packagetype{
    width: 100%;
  }
  .fullname ,.email , .phone, .pickuploc , .pickupdate , .car , .packagetype{
    font-size: 18px; 
    width: 80%;
  } 
  .Book{ 
    bottom: 10px; 
    margin-right: -100px;
  }
}
  </style>
</head> 
<body> 
    <div class="mylogo">
      Apna<span id="sadhan">Sadhan</span><ion-icon class="cari1" name="walk-outline"></ion-icon><ion-icon class="cari2" name="car-sport-outline"></ion-icon>
     </div>  
  <div class="mainrpcard"> 
  <div class="rpcard">
    <div class="loginicon">
      Quik Booking
    </div>   
    <form action="/quikbooking" method="post">
      <div class="fullname">
        <label for="fullname">Full Name:</label> 
      <input type="text" name="fullname" id="fullname" placeholder="Enter Full Name" required>
      </div> 
      <div class="email">
      <label for="email">Email:</label> 
      <input type="email" name="email" id="email" placeholder="Enter Your Email Id" required>
      </div> 
      <div class="phone">
        <label for="phone">Phone No:</label> 
        <input type="phone" name="phone" id="phone" placeholder="Enter Your Phone No" required>
        </div>  
        <div class="pickuploc">
          <label for="pickuploc">Enter Your Location</label> 
          <input type="text" name="pickuploc" id="pickuploc" placeholder="Enter Your Proper Location Here" required>
          </div>  

          <div class="pickupdate">
            <label for="pickupdate">Pickup Date:</label> 
          <input type="datetime-local" name="Pickuptime" id="pickupdate" placeholder="Choose date" required>
          </div> 
          <div class="car">
          <label for="car">Car You Want:</label> 
          <input type="text" name="car" id="car" placeholder="Enter Car you Want" required>
          </div> 
          <div class="packagetype"> 
            <label for="packagetype">Select Package:</label> 
            <select name="packagetype" id="packagetype" required>
              <option value="FromAirport">From Airport cabs</option>
              <option value="ToAirport">To Airport cabs</option> 
              <option value="forlocal">For Local cabs</option>
              <option value="foroneway">For OneWay cabs</option>
              <option value="foroutstation">For Outstation cabs</option>
              <option value="forRoundtrip">For Round-Trip cabs</option>
              <option value="forwedding">For Wedding cabs</option> 
              <option value="forother">For Other</option>
            </select>
            </div>  
      <button type="submit" class="Book">Book</button> 
    </form>
  </div> 
  </div> 
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script> 
</body>
</html>