<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ApnaSadhan - Car Rental Services | Best taxi service in Indore</title> 
  <meta name="description" content="Welcome to ApnaSadhan, your premier destination for top-quality car rentals and taxi services tailored to meet your every need. Book your dream car and embark on the journey of a lifetime!">

    <link rel="shortcut icon" href="../../public/images/favicon_io/android-chrome-192x192.png" type="image/x-icon">
  <link rel="shortcut icon" href="../../public/images/fevicon.png" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Dancing+Script:wght@400..700&family=Pacifico&family=Salsa&display=swap" rel="stylesheet">
  <style>
    *{
  margin: 0px;
  padding: 0px; 
  box-sizing: border-box; 
} 
.mylogo{
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal; 
  font-size: 10vh; 
  height: 14vh; 
  position: relative;
  width: 600px; 
  text-align: center; 
  color: #14213D; 
 display: flex;
 justify-content: center;
 align-items: center;  
 /* background-color: aqua; */ 
 /* border-bottom: 1px solid grey;  */
 /* border-right: 1px solid grey; */
}
#lapna{
  font-family: "Pacifico", cursive; 
  color: #14213D;   
} 
#lsadhan{
  font-family: "Pacifico", cursive; 
  color: #90170c;
}
.cari1{
  margin-right: -8px; 
  color: #90170c;
} 
.cari2{
  margin-top: 10px;
}
#sadhan{
  color:#90170c; 
  font-family: "Pacifico", cursive;
} 
.mainrpcard{
  width: 100%; 
  height: 750px;
  background-color: rgb(255, 255, 255); 
  display: flex;
  justify-content: space-around;
  align-items: center; 
} 
.rpcard{
  width: 400px;
  height: 550px;
  background-color: rgb(255, 255, 255); 
  border-radius: 10px; 
  box-shadow: 2px 2px 15px #14213D; 
}  
.rpcard form{
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;
}
.loginicon{
  /* background-color: aquamarine;  */
  height: 50px; 
  font-size: 30px; 
  font-weight: 800; 
  font-family: 'salsa'; 
  color: #14213D; 
  padding: 10px; 
  text-align: center; 
box-shadow: 1px 1px 10px #90170c; 
border-radius: 10px 10px 0px 0px;
} 
.loginicon ion-icon{
  color: #90170c; 
  margin-bottom: -3px;
} 
.user{
  width: 100%;
  height: 110px; 
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
  padding: 20px 20px; 
  font-size: 25px; 
  font-family: "salsa"; 
  color: #14213D;
}  
#userid , #password1 , #password2 , #otp{ 
  font-size: 18px; 
  width: 100%;
  height: 30px; 
  border: none; 
  box-shadow: 1px 1.5px 3px black; 
  /* border-radius: 5px; */
}
.password1 , .password2 , .otp{
  width: 100%;
  height: 110px; 
  display: flex; 
  font-size: 25px; 
  flex-direction: column; 
  padding: 20px 20px; 
  justify-content: space-between; 
  font-family: "salsa"; 
  color: #14213D;
} 
.lbutton{
  padding: 5px 20px;
  font-size: 18px; 
  color: white;
  background-image: linear-gradient(45deg ,rgb(41, 49, 81)  ,rgb(218, 75, 75), rgb(41, 49, 81) ,rgb(218, 75, 75)); 
  border-radius: 5px;
  margin-top: 10px;
} 
@media(max-width:700px){
  .mainrpcard{
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    height: auto;
  } 
  .mylogo{
    font-size: 7vh;
    width: auto;
  } 
  .rpcard{ 
    margin-top: 10px;
    width: 320px; 
    height: 550px; 
  } 
}
  </style>
</head> 
<body>
  <div class="mainrpcard"> 
    <div class="mylogo">
      Apna<span id="sadhan">Sadhan</span><ion-icon class="cari1" name="walk-outline"><ion-icon name="log-out-outline"></ion-icon>
     </div> 
  <div class="rpcard">
    <div class="loginicon">
      Register<ion-icon name="log-in-outline"></ion-icon>
    </div> 
    <form action="/register" method="post" onsubmit="return passmatch()">
      <div class="user">
        <label for="userid">User Id:</label> 
      <input type="text" name="userid" id="userid" placeholder="Enter New User Id" required>
      </div> 
      <div class="password1">
      <label for="password">Password:</label> 
      <input type="password" name="password1" id="password1" placeholder="Enter Password" required>
      </div> 
      <div class="password2">
        <label for="password">Password Again:</label> 
        <input type="password" name="password2" id="password2" placeholder="Enter Password  Again" required>
        </div>  
        <div class="otp">
          <label for="otp">One Time Password</label> 
          <input type="text" name="otp" id="otp" placeholder="Enter OTP Here" required>
          </div> 
      <button type="submit" class="lbutton">Login</button>
    </form>
  </div> 
  </div> 
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script> 
  <script>
    function passmatch() {
        var password1 = document.getElementById("password1").value;
        var password2 = document.getElementById("password2").value;

        if (password1 != password2) {
            alert("Passwords do not match");
            return false;
        }
        // You can add more validation here if needed
        return true;
    }
</script>
</body>
</html>