<div class="cont3">
<div class="chooseus" id="chooseus">
  <h1>Why Choose Us?</h1> 
  <div class="clist">
    <div class="cl1 cl" >
      <div class="cllogo" id="cllogo1"></div>
      <h2 class="cheading">Reliable Service</h2>
      <p>"Our commitment to reliability ensures that your journey with us is always smooth and on schedule."</p>
    </div>
    <div class="cl2 cl">
      <div class="cllogo" id="cllogo2"></div>
      <h2 class="cheading">Lowest Price</h2>
      <p>
        "Affordable fares, unbeatable quality – our cab service offers the lowest prices for your every journey."</p>
    </div>
    <div class="cl3 cl">
      <div class="cllogo" id="cllogo3"></div>
      <h2 class="cheading">24/7 Support</h2>
      <p>
        "Whether it's day or night, our cab service is here for you 24/7, ready to take you where you need to go."</p>
    </div>
    <div class="cl4 cl">
      <div class="cllogo" id="cllogo4"></div>
      <h2 class="cheading">Best Cars</h2>
      <p>
        "Experience luxury and comfort with our fleet of top-rated vehicles, ensuring the best ride for every journey."</p>
    </div>
  </div>
</div> 
<div class="AboutUs" id="aboutus"> 
<h1>About Us</h1>
<p>Welcome to <span id="lapna">Apna<span id = 'lsadhan'>Sadhan</span></span>, your premier destination for top-quality car rentals tailored to meet your every need. At ApnaSadhan, we pride ourselves on delivering exceptional service and providing our customers with the best rental experience possible. 

  With a diverse fleet of the latest models and brands, we offer a wide selection of vehicles to suit any occasion, whether it's a family vacation, business trip, or special event. From sleek sedans to spacious SUVs, we have the perfect ride for every journey. 
  
  At ApnaSadhan, customer satisfaction is our top priority. Our team of dedicated professionals is committed to ensuring that your rental experience is seamless from start to finish. We strive to exceed your expectations by offering personalized service, convenient booking options, and competitive pricing.
  
  With our easy online reservation system and flexible rental options, booking your dream car has never been easier. Whether you need a vehicle for a day, a week, or longer, we've got you covered.
  
  Experience the difference with ApnaSadhan. Let us take the stress out of renting a car and make your next trip unforgettable. <br> <b style="color: black;">Choose</b> <span id="lapna">Apna<span id = 'lsadhan'>Sadhan</span></span> for your car rental needs and embark on the journey of a lifetime 😊.</p>
</div> 
<div class="howitwork">
 <div class="hiwbox">
  <h1>HOW IT WORKS</h1> 
  <h2>Rent with following 3 working steps</h2> 
  <div class="steps3">
    <div class="card">
      <div class="clogo clogo1"></div>
      <h1>Choose Location</h1>
      <p>choose your location and find your best car</p>
    </div>
    <div class="card">
      <div class="clogo clogo2"></div>
      <h1>pick-up date</h1>
      <p>select your pick up date and time to book your car</p>
    </div>
    <div class="card">
      <div class="clogo clogo3"></div>
      <h1>book your car</h1>
      <p>book your car and we will deliver it directly to you</p>
    </div>
   </div> 
 </div>  

</div> 
<div class="car_adv">
  <div class="cmaincont">
    <h1>Find, book, and <br> rental car in <span class="easyicon">Easy</span> <br>steps.</h1> 
    <h2>Get a car wherever and whenever you need with your ios and android device <span style="color:purple;">soon</span>.</h2> 
    <div class="download"></div>
  </div>
  <div class="ourcaricon"></div>
</div> 
<div class="getintouch" id="getintouch">
  <div class="gitdetail">
    <p class="githead">Get in Touch</p> 
    <p style="font-size: 18px;">send a message and we will get back to you as soon as possible! </p> 
   <div class="gitcont">
    <h3 style="font-size: 20px;">call us at</h3>  
    <p style="font-size: 18px;">+91 9827217315, +91 7225955494</p> 
   </div>
   <div class="gitemail">
    <h3>Email us at</h3>  
    <p>apnasadhan2002@gmail.com</p>
   </div>
  </div>
  <div class="gitforms"> 
    <form action="/feedback" method="post">
     <label for="naam">Name</label><br>
      <input type="text" id="naam" name="name" placeholder="Enter your Name" required> <br> 
      <label for="email">Email</label> <br>
      <input type="email" id="email" name="email" placeholder="Enter your Email" required> <br>
      <label for="phone">Phone</label> <br>
      <input type="phone" id="phone" name="phone" placeholder="Enter your Phone" required> <br>
      <label for="msg">Message</label> <br>
      <textarea type="text" id="msg" name="msg" placeholder="tell us your thoughts and feelings" required></textarea> 
      <button type="submit">Submit</button>
    </form>
  </div>
</div> 
<footer class="footer" id="footer">
 <div class="innerfooter">
  <div class="fcards1">
    <div class="flogo">
      Apna<span id="fsadhan">Sadhan</span><ion-icon class="fcari1" name="walk-outline"></ion-icon><ion-icon class="fcari2" name="car-sport-outline"></ion-icon>
     </div>  
     <ion-icon class="ficons" id="ficons1" name="location-outline"></ion-icon><div class="fadd">Will be opening a new office soon, Indore</div> 
     <ion-icon class="ficons" id="ficons2" name="mail-outline"></ion-icon><div class="femail">praveensinghsendhav2002@gmail.com</div>
     <ion-icon class="ficons" id="ficons3" name="call-outline"></ion-icon><div class="fphone">+917225955494,+919827217315</div>
   </div>
   <div class="fcards2">
    <h2>Our Info</h2>
      <a href="#aboutus">About Us</a>
     <a href="#chooseus">Our Service</a>
     <a href="#main">Rates</a>
     <a href="/blog">Blog</a>
     <a href="#getintouch">Contact Us</a>
     <a href="/faqs">FAQ's</a>
   </div>
   <div class="fcards3"> 
    <h2>Quik Link</h2>
    <a href="/quikbooking">One-Way Cab's</a>
    <a href="/quikbooking">Round-Trip Cab's</a>
    <a href="/quikbooking">Self Drive Cab's</a>
    <a href="/quikbooking">Outstaion Cab's</a>
    <a href="/quikbooking">Wedding Cab's</a>
    <a href="/quikbooking">Airport Cab's</a>
   </div>
 </div> 
 <div class="payment">
  <p>"Experience seamless transactions with <a style="text-decoration: none;" href="/login"> <span id="lapna">Apna<span id = 'lsadhan'>Sadhan</span></span> </a>, where we accept all major online payment methods for your convenience. From credit cards to digital wallets, paying for your ride has never been easier."</p> 
  <div class="plogo"></div>
 </div> 
 <p style="color: rgb(0, 0, 0);">Copyright © 2024 Apnasadhan - All Rights Reserved.</p>
</footer> 
</div>