<footer class="footer">
 <div class="innerfooter">
  <div class="fcards1">
    <div class="flogo">
      Apna<span id="fsadhan">Sadhan</span><ion-icon class="fcari1" name="walk-outline"></ion-icon><ion-icon class="fcari2" name="car-sport-outline"></ion-icon>
     </div>  
     <ion-icon class="ficons" id="ficons1" name="location-outline"></ion-icon><div class="fadd">Will be opening a new office soon, Indore</div> 
     <ion-icon class="ficons" id="ficons2" name="mail-outline"></ion-icon><div class="femail">praveensinghsendhav2002@gmail.com</div>
     <ion-icon class="ficons" id="ficons3" name="call-outline"></ion-icon><div class="fphone">+917225955494,+919827217315</div>
   </div>
   <div class="fcards2">
    <h2>Our Info</h2>
     <a href="/local#aboutus">About Us</a>
     <a href="/local#chooseus">Our Service</a>
     <a href="/local#main">Rates</a>
     <a href="/local#">Blog</a>
     <a href="/local#getintouch">Contact Us</a>
     <a href="/faqs">FAQ's</a>
   </div>
   <div class="fcards3"> 
    <h2>Quik Link</h2>
    <a href="/quikbooking">One-Way Cab's</a>
    <a href="/quikbooking">Round-Trip Cab's</a>
    <a href="/quikbooking">Self Drive Cab's</a>
    <a href="/quikbooking">Outstaion Cab's</a>
    <a href="/quikbooking">Wedding Cab's</a>
    <a href="/quikbooking">Airport Cab's</a>
   </div>
 </div> 
 <div class="payment">
  <p>"Experience seamless transactions with <a style="text-decoration: none;" href="/login"> <span id="lapna">Apna<span id = 'lsadhan'>Sadhan</span></span> </a>, where we accept all major online payment methods for your convenience. From credit cards to digital wallets, paying for your ride has never been easier."</p> 
  <div class="plogo"></div>
 </div> 
 <p style="color: rgb(0, 0, 0);">Copyright © 2024 Apnasadhan - All Rights Reserved.</p>
</footer> 