  <div class="main" id="main">
    <div class="navbar">
      <div class="mylogo">
        Apna<span id="sadhan">Sadhan</span><ion-icon class="cari1" name="walk-outline"></ion-icon><ion-icon class="cari2" name="car-sport-outline"></ion-icon>
       </div>   
       <div class="menuicons">
        <ion-icon class="menu"  name="grid-outline" onclick="menubox()"></ion-icon>
       </div> 
       <div class="weblinks">
        <div class="wlinks1"><a href="/"class="wlink" id="wlink1">Home</a></div>
       <div class="wlinks2"><a href="#footer"class="wlink" id="wlink2">Page</a></div>
       <div class="wlinks3"><a href="/blog"class="wlink" id="wlink3">Blog</a></div>
       <div class="wlinks4"><a href="#getintouch"class="wlink" id="wlink4">Contact</a></div>
       </div> 
       <div id="menus" class="menus">
          <a class="mlink" id="mlink1" href="/">Home</a>
        <a class="mlink" id="mlink2" href="#footer">Page</a>
        <a class="mlink" id="mlink3" href="/blog">Blog</a>
        <a class="mlink" id="mlink4" href="#getintouch">Contact</a>
       </div> 
    </div> 
    <div class="punchline"> 
      <div class="quote">
        "Arrive in Style, Depart with a Smile: Your Cab, Your Comfort!"
      </div> 
      <div class="phone"><ion-icon class="picon" name="phone-portrait-outline"></ion-icon>+91 9827217315</div>
    </div> 
    <div class="car"><div class="mycar" id="mycar1"></div> <div id="mycar2" class="mycar"></div> </div>  
    <div class="cartrips">
      <a href="/local"> <div class="linkbox" id="linkbox1" > 
         <div  class="iconcar" id="incon1" style="background-image: url(./images/icon1.png);"></div>
         <p>Local</p>
       </div> 
       </a> 
       <a href="/one-way">
       <div class="linkbox" id="linkbox2"> 
         <div class="iconcar" id="incon2" style="background-image: url(./images/icon2.png);"></div>
         <p>One way</p>
       </div> 
       </a> 
       <a href="/round-trip">
       <div class="linkbox" id="linkbox3" style="background-color : yellow";> 
         <div class="iconcar" id="incon3" style="background-image: url(./images/icon3.webp);"></div>
         <p>Round Trip</p>
       </div> 
       </a> 
       {{!-- <a href="/road-trip">
       <div class="linkbox" id="linkbox4"> 
         <div class="iconcar" id="incon4" style="background-image: url(./images/icon4.png);"></div>
         <p>Road Trip</p>
       </div> 
       </a>  --}}
       <a href="/local-transfer">
       <div class="linkbox" id="linkbox5"> 
         <div class="iconcar" id="incon5" style="background-image: url(./images/icon5.webp);"></div>
         <p>Local Transfer</p>
       </div> 
       </a>
    </div>
  </div> 