<div class="data">
  <div class="details"> 
    <form class="alldetails" action="/one-way" method="POST">
    <div class="fdetail data1"> 
      <label for="Ocity" >Origin City</label> 
      <input type="text" placeholder={{Ocity}} name="Ocity" id="Ocity" required >
    </div>
    <div class="fdetail data2"> 
      <label for="combo">Destination City</label> 
      <input type="text" placeholder={{Dcity}} name="Dcity" id="combo" required>
    </div>
    <div class="fdetail data3">
      <label for="PickUp">PickUp Date</label> 
      <input type="datetime-local" id="pdate" name="Pickuptime" placeholder="Choose Date" required > 
    </div>  
    <button type="submit" class="searchbtn">Search</button>
  </form>
  </div>
</div> 